@model CQRS.Models.ListOfSchool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListOfSchool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchooName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchooName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchooNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchooNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class = "btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
